@model TextBox.MVCClient.Models.BookModel

@{
  Layout = "../Shared/_Layout.cshtml"; 
}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  .bookcover{
  background-color: gray;
  overflow: auto;
  position: fixed;
  left: 15%;
  top: 25%;
  margin-top: auto; 
  width: 30%;
  height: 30%;
  padding:20px;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
  }
  .mainsummary{
  position: fixed;
  left: 15%;
  top: 57%;
  margin-top: auto; 
  width: 40%;
  height: auto;
  padding: 20px;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
}
  .maintitle {
  overflow:auto;
  font-size: 28%; 
  position: fixed;
  padding: 1%;
}
 .mainbook {
  background-color: lightcyan;
  position: fixed;
  top: 25%; 
  left: 60%;
  width: auto;
  height: auto;
  font-size: 200%;
  padding:2%;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
}
.mainbutton {
  overflow:auto;
  background-color: black;
  position: fixed;
  top: 60%;
  left: 68%;
  width: auto;
  height: 10%;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;

}


</style>
</head>

<div class = "container">
  <div class = ".fixed-left">
@Html.Partial("../Shared/_BookFilterPartial", @Model)
</div>
<div class = "container">
<div class = "d-flex justify-content-center">
<div class="maintitle">
  <br>
  <h2>@Model.bookreturn.Title</h2>
</div>
</div>
</div>
<div class = "container">
<div class = "bookcover">
<p style = "text-align: center; color:white; font-size:2vw">@Model.bookreturn.Title</p>
<br>
<br>
<p style = "text-align: center; color:white; font-size:1.5vw">@Model.authorreturn.FirstName @Model.authorreturn.LastName</p>
</div>
</div>
<br>
<div class="container">
<div class = "mainbook">
<div class =  "d-flex justify-content-around">
<small>Author: @Model.authorreturn.FirstName @Model.authorreturn.LastName</small>
</div>
<div class =  "d-flex justify-content-around">
<small>Publisher: @Model.bookreturn.Publisher</small>
</div>
<div class =  "d-flex justify-content-around">
<small> @Model.bookreturn.ISBN</small>
</div>
<div class =  "d-flex justify-content-center">
<small>Pages: @Model.bookreturn.Pages</small>
</div>
<div class =  "d-flex justify-content-around">
<small>Release: @Model.bookreturn.ReleaseDate</small>
</div>
<div class =  "d-flex justify-content-around">
<small>Price: $@Model.bookreturn.Cost</small>
</div>
</div>
</div>
<button type="button" class="mainbutton btn btn-info btn-lg">
      @{var useBookId = @Model.bookreturn.Id;}
      <span class="glyphicon glyphicon-shopping-cart" style = "color:white; font-size:1vw"><large>@Html.ActionLink(
       linkText : "Add to Cart",
       actionName: "ViewCart",
       controllerName: "Cart",
       routeValues: new{
         filterName = useBookId
       },
       htmlAttributes: null
      )</large></span></button>
  <div class = "container">
  <div class = "mainsummary">
    <p style = "color:black; font-size:1.5vw"><b>Synopsis:</b><p>
    <p style = "color:black; font-size:1.5vw">@Model.bookreturn.Synopsis</p>
  </div>
  </div>
</div>


